.main
  .main__chat
    .main__left-box
      .groups
        = @group.name
      .id
        .id__left-id member: 
        .id__right-id
          - @group.users.each do |user|
            = user.name
    .main__right-box
      = link_to "Edit","#"
  
  .main__messages
    = render @messages

  .main__bar
    .form
      = form_for [@group, @message] do |f|
        .new_message
        .bigs
          = f.text_field :content, class: 'bigs__message', placeholder: 'type a message'
          .bigs__mask
            = f.label :image, class: 'bigs__mask__image' do
              = icon('fas', 'image', class: 'icon')
              = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit' 