.side
  .side__bar
    .side__bar__box
      .name 名前
      = current_user.name
      .icons
        .icons__left 
          .left 
            = link_to "#", class: "left_btn" do
              = icon('fas', 'edit')
        .icons__right
          .right 
            = link_to edit_user_path(current_user) do
              = icon('fas', 'cog', class: 'icon')
  .side__list
    .side__list__in
      =link_to "#",class:"lists" do
        %p.lists__group-name
          test
        %p.lists__test-message
          まだメッセージはありません

        %p.lists__group-name
          test
        %p.lists__test-message
          まだメッセージはありません

        %p.lists__group-name
          test
        %p.lists__test-message
          まだメッセージはありません
